p{
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat;
}
.model{
  font-size: 30px;
  font-weight: 600;
  margin-left: 70px;
  margin-bottom: 8px;
}
.tag-line:hover{
  text-decoration: underline;
}